/* Basic styles */
body {
    margin: 0;
    padding: 0;
  
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    text-transform: uppercase;

    background-color: #f2f2f2;
    background-repeat: no-repeat;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

a {
    text-decoration: none;
}

.button {
    font: inherit;
  
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;

    border: none;
}


/* Header */
.main-nav {
    font-size: 14px;
    line-height: 26px;
    
    background-color: #ffffff;
}

.site-nav {
    list-style: none;
}

.site-nav a{
    color: #000000;
    font-weight: 700;
}

.site-nav a:hover {
    color: #81b3d2;
}

.site-nav a:focus {
    color:rgba(0, 0, 0, 0.3);
}

.site-nav a:active {
    color:#766357;
}


/* Intro block */
.container p{
    color:#333333;
}

.intro-block {
    text-align: center;

    background-color: #81B3D2;
    background-image: url("../img/bg-index.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.intro-pic:after {
    content: url("../img/intro-mask.svg");
}

.intro-text{
    background-color: #ffffff;      
}

.intro-block h2{
    font-size: 21px;
    line-height: 26px;
}

.intro-block p{
    font-size: 14px;
    line-height: 26px;
}


/* Features */
.benefits-list{
    list-style: none;
}

.features h2,
.features p{
    text-align: center;
}

.wrapper-text{
    background-color: #81b3d2;
}

.features h2{
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
}

.features-title{
    color: #ffffff;
}

.features-first p,
.features-second p{
    color: #ffffff;
}

.benefits-title{
    color: #000000;
}

.features .benefits-first{
    background-color: #ffffff;
}


/* Search block*/
.search {
    text-align: center;
    background-color: #ffffff;
}

.search h2{
    line-height: 30px;
    font-size: 36px;
}

.search p{
    line-height: 24px;
    font-size: 14px;
}

.button-open {
    background-color: #766357;
}

.button-open:hover {
    background-color: #604e43;
}

.button-open:active {
    background-color: #503e33;
    color: #928a85;
}

.search-item {
    line-height: 26px;
    font-weight: bold;
}

.search-item input {
    font: inherit;
    text-transform:uppercase;

    background-color: #f2f2f2;
    border: none;
}

.search-item input:hover {
    background-color: #ebebeb;
    border: none;
}

.search-item input:focus {
    border: 2px solid #e5e5e5;
    background-color: #ffffff;
}

.button-search {
    background-color: #81b3d2;
}

.button-search:hover {
    background-color: #669ec0;
}

.button-search:active {
    background-color: #5496bd;
    color: #94b9d2;
}

.main-footer {
    background-color: #ffffff;
}


/* Footer block*/

.main-footer{
    background-color: #ffffff;
}

.footer-contacts a {
    color: #000000;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

.footer-contacts .footer-inst {
    text-decoration: underline;
}

.footer-social {
    text-align: center;
}
  
.footer-social ul {
    list-style: none;
}
  
.social-button {
    color: #ffffff;
}

.footer-copyright {
    text-align: center;
    color: #262626;
}

/* Inner.html */
.site-navigation-current a,
.site-navigation-current a:hover,
.site-navigation-current a:focus,
.site-navigation-current a:active {
    color: #766357;
}


/* Filter block*/
.filter {
    color: #ffffff;

    background-color: #314c5c;
    background-image: url("../img/bg-inner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.filter-option {
    list-style: none;
}

.filter-menu fieldset {
    border:0 none;
}

.filter legend {
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
}

.filter-btn {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #ffffff;

    background-color: transparent;
    border: 2px solid #ffffff;
}

.filter-btn:hover,
.filter-btn:focus {
  color: #000000;
  background-color: #ffffff;
}


/* Sorting block*/
.match{
    font-size: 21;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
}

.sorting-list p{
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
}

.sorting-item{
    list-style: none;
}

.sorting-item a {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.3);

    border-bottom: 1px dotted #81b3d2;
} 

.sorting-item a:hover,
.sorting-item a:focus {
    color:#81b3d2; 
} 

.sorting-item a:active {
    color: #000000;;
    border-bottom: none; 
} 

.sorting{
    background-color: #ffffff;
}


/* Results block*/
.results {
    background-color: #ffffff;
}

.result-list{
    list-style: none;
}

.results .listing-title {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
}

.result-item {
    border-top: 1px solid #e5e5e5;
}

.result-item:last-child {
    border-bottom: 1px solid #e5e5e5;
}

.results .listing-title:hover,
.results .listing-title:focus {
    color: #81b3d2;
}

.results .listing-title:active {
    color: rgba(0, 0, 0, 0.3);
}

.results .show-more{
    background-color: #81b3d2;
    font-weight: 700;
}

.results .show-more:hover,
.results .show-more:focus{
    background-color: #669ec0;
}

.results .show-more:active{
    color: rgba(0, 0, 0, 0.3);
    background-color: #5496bd;
}

.results .booking{
    background-color: #766357;
    font-weight: 700;
}

.results .booking:hover,
.results .booking:focus{
    background-color: #604e43;
}

.results .booking:active{
    background-color: #503e33;
    color: #928a85;
}

.results .review-count{
    color: #666666;
    background-color: #f2f2f2;
}






/* ----- Сеточные стили ----- */

/* index.html */

html,
body {
  min-width: 1280px;
  min-height: 2762px;
}

 /* body {
    /* Временно для сетки */
     /* background-image: url('../img/sedona-index.jpg');
    background-size: 1200px auto;
    background-position: top center;
    background-repeat: no-repeat;
    opacity: 0.8;
    OUTLINE: 4px solid green;
}  */

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 0;
  
    /* box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2); */
}

.main-header-logo {
    display: block;

    width: 140px;
    height: 70px;

    margin: 0 auto;
    margin-bottom: -75px;
}

.main-nav {
    margin: 0;
    padding: 0;
}

.site-nav {
    margin: 0;
    padding: 0;

    display:flex;
    justify-content:space-between; 
}

.site-nav li{
    width:239px;
    text-align: center;

    padding-bottom: 20px;
    padding-top: 20px;
}

/* не уверена! если добавить еще элементы 
в список, то работать не будет 
(можно попробовать формулу 4n-2 и разрешить перенос строк
или можно разбить на 2 списка)*/
.site-nav li:nth-child(2){
    margin-right: auto;
}

.main-header img {
    max-width: 100%;
}

.intro-block img{
    display: block;
    margin: 0 auto;   
}

.intro-text{
    padding-top: 55px;
    padding-bottom: 55px;
}
.intro-title, 
.intro-text p{
    width:495px;
    margin: 0 auto;
}

.search{
    padding-top:55px;
}

.search h2 {
    margin-bottom: 30px;
}

.search .search-text {
    margin: 0 auto;
    width:440px;
    margin-bottom: 50px;
}

/* .modal {
    position: relative;
}

.search-form {
    position: absolute;
    width: 575px;
    background-color: #ffffff;
    
} */

.main-footer{
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0;

    display:flex;
    justify-content: space-around;
}

.footer-contacts{
    width:230px;
}

.footer-social{
    margin: 0;
    padding:0;
    width:155px;
}

.footer-copyright{
    width:200px;
}

/* inner.html */

.results{
    margin: 0 auto;
}

.result-list{
    padding: 0;
    margin-left:70px;
    margin-right: 70px;
}

.result-item {
    padding-top: 30px;
    padding-bottom: 30px;

    display:flex; 
}

/* Можно ли явно задавать размер картинке?*/
.result-item img{
    width:135px;

    margin-right: 30px;
    align-self:center;
} 

.result-item .property{
    width:260px;

    display:flex; 
    flex-direction: column;

} 

.property-text{
    width:190px;

    display:flex;
    justify-content: space-between; 
} 

.property-buttons{
    width:260px;

    display:flex;
    justify-content: space-between;
} 

.property-buttons .show-more{
    width:110px;
} 

.property-buttons .booking{
    width:145px;
} 


.result-item .rating{
    width:112px;
    text-align: center;
    margin-left: auto;

    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

