
body {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    text-transform: uppercase;

    margin: 0;
    padding: 0;

    background-color: #f2f2f2;
    background-repeat: no-repeat;
}

.visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;

    margin: -1px;
    border: 0;
    padding: 0;

    clip: rect(0 0 0 0);
    overflow: hidden;
}

html,
body {
    min-width: 1200px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.container {
    position: relative;

    max-width: 1200px;
    margin: 0 auto;

    box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.button {
    font: inherit;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    font-weight: bold;

    border: none;
}

.main-header {
    position: relative;
}

.main-header-logo {
    position: absolute;

    width: 140px;
    height: 70px;
    
    left: 50%;
    top: 0;
    transform: translateX(-50%);

    z-index: 1;
}

.main-nav {
    font-size: 14px;
    line-height: 26px;

    background-color: #ffffff;
}

.site-nav {
    margin: 0;
    padding: 15px 73px;

    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.site-nav li {
    width: 239px;
}

.site-nav li:nth-child(4n-2) {
    margin-right: auto;
}

.site-nav li:nth-child(4n-3),
.site-nav li:nth-child(4n-2) {
    text-align: left;

    padding-right: 20px;
}

.site-nav li:nth-child(4n-1),
.site-nav li:nth-child(4n) {
    text-align: right;

    padding-left: 20px;
}

.site-nav a {
    color: #000000;
    font-weight: 700;
}

.site-nav a:hover,
.site-nav a:focus {
    color: #81b3d2;
}

.site-nav a:active {
    color: rgba(0, 0, 0, 0.3);
}

.site-nav-current a,
.site-nav-current a:hover,
.site-nav-current a:focus,
.site-nav-current a:active {
    color: #766357;
}

.intro-block {
    text-align: center;

    background-color: #81B3D2;
    background-image: url("../img/bg-index.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;

    display: flex;
    flex-direction: column;
}

.intro-block img {
    display: block;
    margin: auto;
    padding: 77px 0;

    max-width: 100%;
    height: auto;
}

.intro-pic {
    position: relative;
}

.intro-pic:after {
    content: url("../img/intro-mask.svg");

    position: absolute;
    left: 0;
    bottom: 0;

    height: 58px;
}

.intro-text {
    color: #333333;
    background-color: #ffffff;

    padding-top: 58px;
    padding-bottom: 50px;
}

.intro-title {
    color: #000000;
}

.intro-title,
.intro-text p {
    width: 495px;
    margin: 0 auto;
}

.intro-block h2 {
    font-size: 21px;
    line-height: 26px;

    margin-bottom: 30px;
}

.intro-text p {
    font-size: 14px;
    line-height: 26px;
}

.features {
    display: flex;
    flex-direction: column;
}

.features-first,
.features-second {
    background-color: #81b3d2;

    display: flex;
    align-items: flex-start;
}

.features img {
    max-width: 100%;
    height: auto;
}

.features-first {
    flex-direction: row-reverse;
}

.wrapper-text {
    color: #ffffff;

    min-height: 162px;
    width: 33.33%;
    padding: 0px 45px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.features h2,
.features p {
    text-align: center;
    margin: 0;
    margin-bottom: 22px;

    width: 100%;
}

.features h2 {
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;

    width: 158px;
    margin-top: 49px;
}

.features .first {
    background-color: #ffffff;
}

.benefits-list p {
    color: #333333;
}

.benefits-list h2 {
    margin-top: 29px;
}

.benefits-list {
    list-style: none;

    margin: 0;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
}

.benefits-item {
    position: relative;

    margin: 0;
    padding: 59px 50px;
    width: 33.33%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.second h2 {
    margin-top: 0px;
    margin-bottom: 24px;
}

.benefits-title {
    color: #000000;
}

.second .benefits-item {
    padding: 48px 65px;
    padding-bottom: 37px;
}

.search {
    background-color: #ffffff;

    padding-top: 52px;
}

.search h2,
.search-text{
    text-align: center;
    margin: 0 auto;   
}

.search h2 {
    line-height: 36px;
    font-size: 30px;

    margin-bottom: 23px;
}

.search-text {
    line-height: 24px;
    font-size: 14px;

    margin: 0 auto;
    width: 440px;

    margin-bottom: 46px;
}

.button-open {
    display: block;
    font-size: 21px;
    line-height: 26px;
    background-color: #766357;

    padding: 30px 140px;
    margin: 0 auto;
}

.button-open:hover,
.button-open:focus {
    background-color: #604e43;
}

.button-open:active {
    background-color: #503e33;
    color: rgb(255, 255, 255, 0.3);
}

.modal {
    position: relative;
}

.search-form {
    position: absolute;
    background-color: #ffffff;
    padding: 55px 57px;

    width: 570px;
    height: 395px;

    z-index: 3;
    
    overflow: auto;
    margin: auto;
    top: 86px; 
    left: 0;
    right: 0;

    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;

    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
            transform: scaleY(1);

    -webkit-transform-origin: 100% 0%;
    -ms-transform-origin: 100% 0%;
            transform-origin: 100% 0%;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: 0px 7px 15px 0px rgba(0, 1, 1, 0.15);
}

.activeForm {
    -webkit-transform: scaleY(0);
        -ms-transform: scaleY(0);
            transform: scaleY(0);
}

@keyframes shake {
    0%,
    100% {
        transform: inherit;
    }
  
    10%,
    30%,
    50%,
    70%,
    90% {
      transform: translateX(-10px);
    }
  
    20%,
    40%,
    60%,
    80% {
      transform: translateX(10px);
    }
}

.form-error {
    animation: shake 0.6s;
}
  
.search-item {
    position: relative;

    font-size: 14px;
    font-weight: bold;

    margin: 0;
    margin-bottom: 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-grow: 1; */

    /* outline: 1px solid #cb1735; */

}

.search-item input {
    box-sizing: border-box;

    font: inherit;
    text-transform: uppercase;
    color: #000000;
   
    margin: 0;
    margin-left: auto;
    /* padding: 7px; */
    padding-left: 11px;

    width: 345px;
    height: 38px;

    background-color: #f2f2f2;
    border: 2px solid transparent;    
}

.search-item label {
    position: relative;
    
    align-self: center;

}

.calendar-icon {
    position: absolute;

    right: 2px;
    top: 50%;
    transform: translateY(-50%);

    background-color: transparent;
    border: none;
    cursor: pointer;
}

.calendar-icon path {
    fill-opacity: 0.3;
}

.calendar-icon:hover path,
.calendar-icon:focus path {
    fill-opacity: 1;
}

.calendar-icon:active path {
    fill-opacity: 1;
    fill: #669ec0;
}

.search-item input[type="text"]::-moz-placeholder,
.search-item input[type="text"]:-moz-placeholder {
    color: #000000;
    opacity: 1;    
}

.search-item input[type="text"]::placeholder {
    color: #000000;
    opacity: 1;
}

.search-item input[type="text"]::-webkit-input-placeholder {
    color: #000000;
    opacity: 1;
}

.search-item input[type="text"]:-ms-input-placeholder {
    color: #000000;
    opacity: 1;
}

.search-item input[type="text"]::-ms-input-placeholder {
    color: #000000;
    opacity: 1;
}

.search-item input[type="number"] {
    -moz-appearance: textfield;
}

.search-item input::-webkit-outer-spin-button,
.search-item input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.search-item input:hover {
    background-color: #ebebeb;
}

.search-item input:focus {
    border: 2px solid #e5e5e5;
    background-color: #ffffff;
}

.adults,
.children {
    width: 50%;
    margin: 0;

    display: flex;
    align-items: center;
}

.quantity {
    width: 50%;
    margin-left: auto;

    display: flex;
    align-items: center;
}

.quantity input,
.quantity input {
    text-align: center;

    width: 38px;
    margin: 0;
    padding: 0;

    /* outline: 1px solid #262626; */
}

.children label {
    padding-left: 50px;
}

.minus-icon,
.plus-icon {
    position: relative;

    width: 38px;
    height: 38px;

    background-color: #f2f2f2;
    border: none;
    
    margin: 0;

    cursor: pointer; 
}

.minus-icon::before {
    content: "";
    position: absolute;

    width: 12px;
    height: 3px;
    background-color: #a9a9a9;

    margin: auto;
    top: 0; 
    left: 0; 
    bottom: 0; 
    right: 0;
}

.plus-icon::before,
.plus-icon::after {
    content: "";
    position: absolute;

    width: 12px;
    height: 3px;
    background-color: #a9a9a9; 
    
    margin: auto;
    top: 0; 
    left: 0; 
    bottom: 0; 
    right: 0;
}

.plus-icon::after {
    transform: rotate(90deg);
}

.minus-icon:hover::before,
.minus-icon:focus::before,
.plus-icon:hover::after,
.plus-icon:hover::before,
.plus-icon:focus::before,
.plus-icon:focus::after {
    background-color: #000000;
}

.minus-icon:active::before,
.plus-icon:active::after,
.plus-icon:active::before {
    background-color: #81b3d2;
}

.button-search {
    padding: 16px;
    margin-top: auto;

    font-size: 21px;
    line-height: 26px;
    
    background-color: #81b3d2;
}

.button-search:hover,
.button-search:focus {
    background-color: #669ec0;
}

.button-search:active {
    background-color: #5496bd;
    color: #94b9d2;
}

.map{
    position: relative;
}

.map img {
    display: block;
}

.map iframe {
    position: absolute;
    top: 0;
    left: 0;

    border: none;

    z-index: 1;
}

.footer-index {
    position: absolute;
    bottom: 0px;
    left: 0;

    width: 100%;
}

.main-footer {
    background-color: #ffffff;

    z-index: 1;

    margin: 0;
    padding: 33px 0;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.main-footer{
    background-color: rgba(253, 253, 253, 0.9);
}

.footer-contacts {
    text-align: left;

    width: 33.33%;
    padding-left: 120px;

    display: flex;
    flex-direction: column;
}

.footer-inst:hover,
.footer-inst:focus,
.footer-phone:hover,
.footer-phone:focus {
    color: #81b3d2;
}

.footer-inst:active,
.footer-phone:active {
    color: rgba(0, 0, 0, 0.3);
}

.footer-social {
    text-align: center;

    width: 33.33%;
    padding: 0;
}

.footer-social ul {
    list-style: none;
    width: 155px;

    margin: 0 auto;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.social-button {
    width: 47px;
    height: 47px;
    
    background-color: #81b3d2;
    margin-bottom: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.social-button:hover,
.social-button:focus {
    background-color: #669ec0;
}

.social-button:active path {
    background-color: #669ec0;
    fill-opacity: 0.3;
}

.footer-copyright {
    color: #262626;
    
    width: 33.33%;
    margin: 0;

    text-align: center;
}

.footer-logo {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;

    width: 115px;
    height: 40px;
}

.footer-logo:hover path,
.footer-logo:focus path {
    fill: #81b3d2;
}

.footer-logo:active {
    fill-opacity: 0.3;
}

.footer-contacts a {
    color: #000000;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

.filter {
    color: #ffffff;
    padding: 26px 58px;
    padding-bottom: 20px;

    min-height: 216px;

    background-color: #314c5c;
    background-image: url("../img/bg-inner.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
}

.filter-menu {
    display: flex;
    justify-content: space-between;
}

.filter-option ul {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.filter-menu fieldset {
    border: 0 none;
}

.filter-menu fieldset:first-child {
    padding-right: 100px;
}

.filter-option legend {
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
    color: #ffffff;

    margin-bottom: 22px;
}

.filter-option li {
    list-style: none;
    margin-bottom: 24px;
}

.filter li:last-child {
    margin-bottom: 0px;
}

.filter-menu fieldset:last-child {
    margin-left: auto;
}

.filter-checkbox {
    position: relative;
    padding-left: 40px;
    cursor: pointer;
}

.checkbox-indicator {
    position: absolute;
    width: 23px;
    height: 23px;
    top: auto;
    left: 0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='23' viewBox='0 0 23 23'%3E%3Cpath fill='%23FFFFFF' d='M20 2c.542 0 1 .458 1 1v17c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h17m0-2H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3V3c0-1.65-1.35-3-3-3z'/%3E%3C/svg%3E%0A");
}

.check-input:checked+.checkbox-indicator {
    width: 27px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='23' viewBox='0 0 27 23'%3E%3Cpath fill='%23FFFFFF' d='M7.285 7.486l-2.829 2.829 7.783 7.783L26.171 4.166l-2.828-2.829-11.104 11.102z'/%3E%3Cpath fill='%23FFFFFF' d='M21 20c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h16.908L21.493.415A2.96 2.96 0 0 0 20 0H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3v-9.829l-2 2V20z'/%3E%3C/svg%3E ");
}

.check-input:disabled+.checkbox-indicator {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='23' viewBox='0 0 23 23'%3E%3Cpath fill='%236a6a6a' d='M20 2c.542 0 1 .458 1 1v17c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h17m0-2H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3V3c0-1.65-1.35-3-3-3z'/%3E%3C/svg%3E%0A");
}

.check-input:checked:disabled+.checkbox-indicator {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='23' viewBox='0 0 27 23'%3E%3Cpath fill='%236a6a6a' d='M7.285 7.486l-2.829 2.829 7.783 7.783L26.171 4.166l-2.828-2.829-11.104 11.102z'/%3E%3Cpath fill='%236a6a6a' d='M21 20c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h16.908L21.493.415A2.96 2.96 0 0 0 20 0H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3v-9.829l-2 2V20z'/%3E%3C/svg%3E ");
}

.check-input:focus+.checkbox-indicator{
    outline: 2px dotted #ffffff;
}

.filter-range {
    width: 320px;
    color: #ffffff;
    text-transform: uppercase;
}

.filter-range-title {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    color: #ffffff;

    margin-bottom: 8px;
}

.price-controls {
    position: relative;

    height: 36px;
    margin-bottom: 20px;

    font-size: 0;

    border: 2px solid #ffffff;
    border-radius: 2px;

    display: flex;
    justify-content: flex-start;
}

.price-controls input,
.price-controls label {
    box-sizing: content-box;
}

.price-controls label {
    font-size: 14px;
    line-height: 21px;

    cursor: pointer;

    display: flex;
    align-items: center;
}

.price-controls input {
    width: 50px;

    color: inherit;
    font: inherit;
    
    background: none;
    border: none;

    margin-left: 5px;
}

.price-controls::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 2px;
    height: 22px;

    background: #ffffff;
}

.price-controls .min-price,
.price-controls .max-price {
    width: 100px;
}

.price-controls .min-price {
    padding-left: 65px;
}

.price-controls .max-price{
    padding-left: 47px;
}

.range-controls {
    position: relative;
    margin-bottom: 32px;
}

.range-controls .scale {
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
    width: 80%;
    height: 2px;
    background: #ffffff;
}

.range-toggle {
    box-sizing: content-box;

    position: absolute;
    top: -9px;
    width: 4px;

    height: 4px;
    background: #ababab;

    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 3px 1px 0 rgba(250, 250, 250, 0.2);
    
    cursor: pointer;
}

.range-toggle:hover {
    background: #1c4f80;
    transform: scale(1.1);
}

.range-toggle-min {
    left: 0;
}

.range-toggle-max {
    left: 80%;
}

.filter-button {
    display: block;

    margin: 0 auto;
    transform: translateX(-6px);
    padding: 6px 35px;

    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;

    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;

    cursor: pointer;
}

.price-controls input[type='number'] {
    -moz-appearance: textfield;
}

.filter-button:hover,
.filter-button:focus {
    background-color: #ffffff;
    color: #000000;
}

.sorting {
    background-color: #ffffff;
    padding: 10px 70px;

    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
}

.match {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: #000000;

    margin-right: 50px;
}

.sorting-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.sorting-arrow {
    margin-left: auto;
    display: flex;
    min-width: 37px;
    justify-content: space-between;
}

.sorting-dir-up path,
.sorting-dir-down path {
    fill: #cacaca;
}

.sorting-dir-up:hover path,
.sorting-dir-down:hover path,
.sorting-dir-up:focus path,
.sorting-dir-down:focus path {
    fill: #000000;
}

.sorting-dir-up:active path,
.sorting-dir-down:active path {
    fill: #81b3d2;
}

.sorting-dir-current path {
    fill: #81b3d2;
}

.sorting-list p {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;

    margin-right: 40px;
}

.sorting-item {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.sorting-item li {
    margin-right: 30px;
}

.sorting-item a {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;

    color: rgba(0, 0, 0, 0.3);
    border-bottom: 1px dotted #81b3d2;
}

.sorting-item a:hover,
.sorting-item a:focus {
    color: #81b3d2;
}

.sorting-item a:active {
    color: #000000; 
    border-bottom: none;
}

.sorting-item-current a {
    color: #81b3d2;
    border-bottom: none;
}

.results {
    background-color: #ffffff;
}

.result-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.result-item {
    min-height: 151px;
    border-top: 1px solid #e5e5e5;

    padding: 30px 71px;
    padding-bottom: 29px;

    display: flex;
    align-items: flex-start;
}

.result-item:last-child {
    border-bottom: 1px solid #e5e5e5;
}

.result-item img {
    max-width: 100%;
    height: auto;
    margin-right: 30px;
    flex-shrink: 0;
}

.property {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

    box-sizing: content-box;
}

.results .listing-title {
    font-size: 21px;
    line-height: 16px;
    font-weight: 700;
    color: #000000;

    flex-grow: 1;
}

.results .listing-title:hover,
.results .listing-title:focus {
    color: #81b3d2;
}

.results .listing-title:active {
    color: rgba(0, 0, 0, 0.3);
}

.details {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.type-details {
    margin-right: 8px;
}

.show-more,
.booking {
    padding: 5px 17px;

    margin-top: auto;
}

.show-more {
    background-color: #81b3d2;
    font-weight: 700;
}

.show-more:hover,
.show-more:focus {
    background-color: #669ec0;
}

.show-more:active {
    color: rgb(255, 255, 255, 0.3);
    background-color: #5496bd;
}

.booking {
    background-color: #766357;
    font-weight: 700;
}

.booking:hover,
.booking:focus {
    background-color: #604e43;
}

.booking:active {
    background-color: #503e33;
    color: rgb(255, 255, 255, 0.3);
}

.rating {
    width: 112px;
    text-align: center;

    margin-left: auto;
    padding: 0;

    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.four-stars {
    width: 84px;
    height: 20px;

    background-image: url("../img/star.svg");
    background-size: 17px;
    background-repeat: space;
    margin-bottom: 43px;
    align-self: flex-end;
    margin-top: 0;
}

.three-stars {
    width: 65px;
    height: 20px;
    background-image: url("../img/star.svg");
    background-size: 17px;
    background-repeat: space;
    margin-bottom: 43px;
    align-self: flex-end;
    margin-top: 0;
}

.two-stars {
    width: 42px;
    height: 20px;
    background-image: url("../img/star.svg");
    background-size: 17px;
    background-repeat: space;
    margin-bottom: 43px;
    margin-top: 0;
    align-self: flex-end;
}

.review-count {
    color: #666666;
    background-color: #f2f2f2;
    margin: 0;
    padding-top: 4px;
    padding-bottom: 4px;
}